amqp==2.6.0
appdirs==1.4.4
asgiref==3.2.10
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
billiard==3.6.3.0
bottle==0.12.18
bottle-websocket==0.2.9
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cp==0.0.0
crm==0.0.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.7
django-countdowntimer-model==0.0.6
django-heroku==0.3.1
Eel==0.12.4
filelock==3.0.12
future==0.18.2
gevent==20.6.1
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
kombu==4.6.11
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.5
py==1.8.1
pycodestyle==2.6.0
pycparser==2.20
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==1.5
python-decouple==3.3
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
Unipath==1.1
urllib3==1.25.9
vine==1.3.0
virtualenv==20.0.23
wcwidth==0.2.4
whichcraft==0.6.1
whitenoise==5.1.0
zope.event==4.4
zope.interface==5.1.0